.container {
  background-color: var(--white);
  width: 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
  height: 60px;
}

.logo {
  border-radius: 5px;
  margin-left: 1rem;
  vertical-align: -6px;
}
