.body {
  background-color: var(--darkseagreen);
  height: 100vh;
}

.formWrapper {
  position: relative;
  background-color: var(--ghostwhite);
  margin: 100px auto;
  padding: 0 1em;
  max-width: 370px;
  border-radius: 10px;
  text-align: center;
}

.title {
  color: var(--darkgreen);
  text-align: center;
  padding: 1em 0;
  font-size: 1.8em;
}

.form {
  padding: 0 1.5em;
}

.formItem {
  margin-bottom: 0.75em;
  width: 100%;
  position: relative;
}

.formInput {
  background-color: var(--whitesmoke);
  border: 1px solid var(--lightgray);
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 15px;
  width: 100%;
}

.formBtn {
  margin: 0 0 15px;
  padding: 10px 15px;
  width: 50%;
  border: none;
  border-radius: 5px;
  background-color: var(--mediumseagreen);
  color: var(--white);
  cursor: pointer;
}

.formBtn:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.formLinkContainer {
  padding-bottom: 20px;
}

.formLink {
  margin-bottom: 0.5em;
  font-size: 0.9em;
}

.errorMessage {
  color: var(--palevioletred);
  font-size: 0.9rem;
  text-align: left;
  margin: 0 10px 20px;
}

.passwordReveal {
  left: auto;
  position: absolute;
  right: 10px;
  top: 14px;
}

.passwordIcon {
  font-size: 1.2rem;
  color: var(--gray);
}

@media screen and (max-width: 640px) {
  .body {
    background-color: var(--ghostwhite);
    height: 100%;
  }
  .formWrapper {
    max-width: 300px;
    margin: 50px auto;
    box-shadow: none;
  }
}
