.container {
  background-color: var(--white);
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
  height: 60px;
}

.logo {
  border-radius: 5px;
}

.titleContainer {
  margin-left: 1rem;
  display: flex;
}

.titleLeft {
  margin-left: 1rem;
}

.selecter {
  margin-left: 1rem;
  margin-right: 1rem;
  border: 0.2rem solid;
  border-color: var(--darkseagreen);
  border-radius: 5px;
  font-size: 1.2rem;
  color: var(--darkgray);
}

.link {
  margin-right: 1.2rem;
}

.linkButton {
  color: var(--darkseagreen);
  margin-left: 1.5rem;
  font-size: 1.2rem;
  vertical-align: -2px;
}

.linkButton:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .titleLeft,
  .titleRight {
    display: none;
  }
}
