.container {
  background-color: var(--ghostwhite);
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
  height: 60px;
}

.logo {
  border-radius: 5px;
}

.titleContainer {
  margin-left: 1rem;
  display: flex;
}

.selecter {
  margin-left: 1rem;
  margin-right: 1rem;
  border: 0.2rem solid;
  border-color: var(--darkseagreen);
  border-radius: 5px;
  font-size: 1.2rem;
  color: var(--darkgray);
}

.link {
  margin-right: 1.2rem;
}

.linkButton {
  color: var(--darkseagreen);
  margin-left: 1.5rem;
  font-size: 1.2rem;
  vertical-align: -2px;
}

.linkButton:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .titleLeft,
  .titleRight {
    display: none;
  }
}

.menuButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.favoritesBtn {
  border: none;
  background-color: transparent;
  margin: 5px 25px 0;
}

.favoritesBtn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.favoritesBtnIconOn {
  color: var(--palevioletred);
  font-size: 1.5rem;
}

.favoritesBtnIconOff {
  color: var(--gray);
  font-size: 1.5rem;
}

.listButton {
  background-color: transparent;
  border: none;
  margin-right: 25px;
}
.listButtonIcon {
  color: var(--gray);
  border: none;
  font-size: 1.5rem;
  vertical-align: -5px;
}

.listButtonIconActive {
  color: var(--mediumseagreen);
}

.listButton:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .favoritesBtn {
    margin: 5px 15px 0 auto;
  }

  .selecter {
    margin-left: 0;
  }
}
