.infoWindows {
  color: var(--darkgray);
}

.image {
  width: 230px;
  height: 150px;
  object-fit: cover;
  margin-right: 25px;
}

.image__noimage {
  object-fit: contain;
}

.alias {
  font-size: 0.8rem;
  font-style: italic;
}

.categories {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: var(--darkgreen);
}

.location {
  font-size: 0.9rem;
}

.phone {
  font-size: 0.9rem;
}

.star {
  font-size: 0.9rem;
  color: var(--darkgreen);
  vertical-align: -1px;
}

.icon {
  margin-right: 5px;
  vertical-align: -2px;
  color: var(--green);
}

.link {
  vertical-align: -2px;
}

.footer {
  margin-top: 5px;
  display: flex;
}

@media screen and (max-width: 640px) {
  .image {
    width: 150px;
    height: 120px;
    margin-bottom: 5px;
  }
}
