.infoWindows {
  color: var(--darkgray);
}

.alias {
  font-size: 0.9rem;
  font-style: italic;
}

.categories {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: var(--darkgreen);
}

.star {
  font-size: 0.9rem;
  color: var(--darkgreen);
  vertical-align: -1px;
}

.link {
  vertical-align: -2px;
}

.favoritesBtn {
  border: none;
  background-color: transparent;
  margin: 0 10px 0 auto;
}

.favoritesBtn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.favoritesBtnIconOn {
  color: var(--palevioletred);
  font-size: 1.2rem;
}

.favoritesBtnIconOff {
  color: var(--gray);
  font-size: 1.2rem;
}

.footer {
  margin-top: 5px;
  display: flex;
}
