.infoWindows {
  color: var(--darkgray);
}

.alias {
  font-size: 0.9rem;
  font-style: italic;
}

.categories {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: var(--darkgreen);
}

.star {
  font-size: 0.9rem;
  color: var(--darkgreen);
  vertical-align: -1px;
}

.link {
  vertical-align: -2px;
}
